* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  width: 825px;
  margin: 0 auto;
}

.product {
  border: 5px solid black;
  position: relative;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
}
.product-picture {
  float: left;
  height: 250px;
}
.product-info {
  float: left;
  width: 243px;
  margin-left: 25px;
  margin-top: 25px;
}

.product-description {
  clear: both;
}

.product-details {
  float: left;
  width: 243px;
  margin-left: 40px;
  margin-left: 25px;
  margin-top: 25px;
}

.price {
  font-size: 24px;
  float: left;
}

.shipping {
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  margin-bottom: 15px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover {
  text-decoration: none;
}

.details-title {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  width: 100%;
  padding: 10px;
}

.add-cart:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-top: 5px black solid;
  padding-top: 5px;
}

.sale {
  background-color: rgb(226, 65, 65);
  color: white;
  display: inline-block;
  padding: 7px 15px;
  position: absolute;
  left: -40px;
  top: -18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
}
.squares {
  background-color: violet;
}

.box {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-top: 20px;
}

.black {
  background-color: black;
  margin-left: 0;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
.brown {
  background-color: brown;
}
